#   Configuration file (advanced settings) for Locus application
# allow to specify map projections, based on EPSG code. If you need some
# more specific projection, contact us
# 
# every line should contain syntax and values have to be separated by '|' char
# 
# 'type of definition' | 'EPSG code' | 'name' | 'description' | 'country'
# 
# where 
#   'type of definition' is currently 1
#   'EPSG code' - known code from (eg.) http://spatialreference.org/
#   'name' - visible name
#   'description' - visible description in list
#   'country' - country of usage for sorting in list
# ----------------------------------------------------------------

1|2039|Israeli TM Grid||Israel
1|2193|NZGD2000|New Zealand Transverse Mercator 2000|New Zealand
1|2065|S-JTSK||Czech Republic
1|28193|Israeli CS Grid||Israel
1|28992|Dutch Grid (RD)||Netherlands
