#   Configuration file (advanced settings) for Locus application
#   Do not add custom comments, file is often overwrote!
# ----------------------------------------------------------------

# USED UNITS
# colours:                       #ARGB or #RGB in HEX format
# font size:                     pixels in DPI independent value (Locus will scale it by DPI)
# boolean:                       true as '1', false as '0'
# values above/below lines:      nothing: '0', distance: '1', bearing: '2', ETA: '3', elevation: '4', time to: '5', ETA & time to: '6'
# --------------------------------

# MAP ITEMS
# --------------------------------

# define formats of time used along 'time rings' on map (default: 0)
#  - relative units (10mins): 0
#  - absolute values (14h:20m): 1
map_items_time_rings_units=0

# GEOCACHING
# --------------------------------

# draw thin lines between waypoints and parent caches (default: true)
geocaching_map_waypoints_draw_lines=1

# define base width of lines between caches and it's waypoints (default: 1.0)
geocaching_map_waypoints_lines_base_width=1.0

# allow define zoom level since geocaching waypoints will not be drawn. (default: 12)
#  - disable simplification at all: 0
#  - till zoom value (1 - 12 'include'): X
geocaching_map_waypoints_hide_till_zoom=12

# pack of icons used for geoaching points (default: empty)
geocaching_icon_pack=

# when opening Geocaching screen, firstly open defined tab (default: empty)
#  - possible values: empty, 'listing'
geocaching_screen_preferred_tab=

# maximum image size (in MB) for downloaded data (default: 5)
geocaching_offlinizer_max_image_size=5

# NAVIGATION
# --------------------------------

# times before command, when Locus notify (in seconds), default is: 15|35|300
navigation_announcements_times=15|35|300

# TRACK RECORDING
# --------------------------------

# positive notification on correctly recorded point (beep) (default: 0)
track_recording_positive_notify=0

# IMPORT & EXPORT
# --------------------------------

# always overwrite duplicate points during import in listed categories (default: empty)
#  - names of categories separated by '|', for example 'favorites|geocaching')
import_always_overwrite_points_in_categories=

# when exporting single file (1 track/points category) to some file format,
# compress it also to ZIP archive (default: 0)
export_share_single_file_compressed=0

# WIDGETS
# --------------------------------

# background color for track record widget
# (default: full black to use semitransparent black image as background)
#  - restart Locus and re-add widget to refresh color
widget_track_rec_background_color=#FF000000

# HARDWARE
# --------------------------------

# offset [in degrees] to hardware compass orientation. (default: 0)
hardware_compass_offset=0

# filter value for an compass system. (default: 10, max: 50)
hardware_compass_filter=10

# HARDWARE BUTTONS

# DEPRECATED, moved to 'Experimental settings'
# --------------------------------

# UI & UTILS
# --------------------------------

# Order of tabs in 'Point screen'. Define it as a list of ID's separated by '|'
# options: basic - 1, attachments - 2
# geocaching: listing - 11, images - 12, spoilers - 13, logs - 14, trackables - 15, waypoints - 16
gui_point_screen_tabs_order=

# display area values in track screen > statistics tab (default: false)
gui_track_screen_stats_display_area=0

# allows to scale & move also along vertical axis in tracks charts (default: false)
gui_track_screen_chart_vertical_scale=0

# display zoom values for every map in list of online maps (default: false)
gui_online_maps_list_display_zooms=0

# display compass screen in white (light) color instead of dark (default: false)
gui_compass_in_white_color=0

# disable swiping in GPS/Compass screen. Locus display only required GPS or compass, 
# not both at once. Very useful for low-powered devices (default: false)
gui_compass_and_gps_separate=0

# flag if compass orientation will be defined by sensors > compass settings [true] or will always use, 
# internal device orientation sensor (default: false)
gui_compass_use_compass_settings=0

# flag if 'quick add point' dialog should close after new point is added (default: true)
gui_quick_add_point_close_after=1

# set speed for moving cursor on map when GPS is off (in m/s) (default: 0.0)
#  - value <= 0 disable this feature
speed_for_moving_cursor_when_gps_off=0.0

# separate NMEA records. Every record will have incremental number during one day
# instead of one big file (default: 0)
separate_nmea_records=0

# define format of time for "Quick add point" feature. Time is defined by {t} tag and 
# it's format is described here http://goo.gl/1TiFhE
#  - default: yyyy-MM-dd 'at' HH:mm
quick_add_point_time_definition=yyyy-MM-dd 'at' HH:mm

# In Point screen, when you 'Move' visible point to different folder, hide it (default: false)
point_screen_hide_after_move=0

# Disable "Turn off if idle" when screen was turn on by gesture (default: false)
turn_on_screen_by_gesture_disable_auto_screen_off=0

# Try to keep GPS and whole Locus alive, by displaying invisible toast message. (default: false)
gps_keep_alive_by_toast=0

# Limit sound (song) notification on certain number of seconds (default: 5)
notify_sound_limit_length=5

# BUG FIXES
# --------------------------------

# disable drawing lines as geodetic curves, which cause rare crashes on 
# some devices (for unknown reason). Simply try to draw "line to gps" on
# distance longer then 1000 km
bugfix_long_geodetic_lines=0

# DEV TOOLS
# --------------------------------

# DEV - enable Google Directions API (compute route by Google) (default: false)
dev_enable_google_directions=0

# Allows to rescale UI of main screen (default: 1.0)
dev_gui_main_rescale_value=1.0
